/* Виносимо абсолютно всі кольори у змінні */
$primary-bg: #6495ed;
$secondary-bg: #87ceeb;
$border-color: #a9dcf2;
$text-dark: #111;
$error-color: #d32f2f;


$border-radius-main: 0.75rem; 
$border-radius-inner: 0.5rem; 

.weather-widget {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9375rem; 
  background-color: $primary-bg;
  padding: 0.9375rem; 
  border-radius: $border-radius-main;
  max-width: 37.5rem; 
  margin: 0 auto;
  font-family: Arial, sans-serif;

  @media (max-width: 30rem) { 
    padding: 0.625rem; 
    gap: 0.625rem;
  }

  &--message {
    justify-content: center;
    padding: 2.5rem; 
  }

  &--error {
    color: $error-color; 
  }
}